@import 'tailwindcss';

/* Base styles & variables */
@import '../styles/base.css';

/* Utility classes */
@import '../styles/utilities.css';

/* Animations */
@import '../styles/animations.css';

/* Component styles */
@import '../styles/components.css';

/* Section-specific styles */
@import '../styles/hero.css';
@import '../styles/about.css';
/* @import '../styles/focus.css'; */
@import '../styles/process.css';
